<style>
    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        font-weight: 100;
        font-family: 'Lato';
    }

    .loading-container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .loading-content {
        text-align: center;
        display: inline-block;
    }

    .loading-title {
        font-size: 96px;
    }
</style>
